<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dental Health Medical Category Flat Bootstrap Responsive Website Template | Home :: W3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Dental Health Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="css/css_slider.css" type="text/css" rel="stylesheet" media="all"><!-- slider css -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->

    <!-- google fonts -->
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext"
        rel="stylesheet">
    <!-- //google fonts -->

</head>

<body>


    <!-- //top header -->

    <!-- //header -->
    <header class="py-3">
        <div class="container">
            <div id="logo">
                <h1> <a href="index.html"><span class="fa fa-stethoscope" aria-hidden="true"></span> Clinic Management
                    </a></h1>
            </div>
            <!-- nav -->
            <nav class="d-lg-flex">

                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop" />
                <ul class="menu mt-2 ml-auto">
                    <li class="active"><a href="#">Home</a></li>
                    <li class=""><a href="#">About Us</a></li>
                    <li class=""><a href="#doctors">Doctors</a></li>
                    <li class=""><a href="#contact">Contact Us</a></li>
                </ul>

                <div class="login-icon ml-2">
                    {{#if user}}
                    <a class="user" href="/logout">{{user.userName}}</a>
                 
                    {{else}}
                    <a class="user" href="/user-login"> Login</a>
                    {{/if}}
                  
                </div>
            </nav>
            <div class="clear"></div>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->

    <!-- banner -->
    <div class="banner" id="home">
        <div class="layer">
            <div class="container">
                <div class="banner-text-agile">
                    <div class="row">
                        <div class="col-lg-6 p-0">
                            <!-- banner slider-->
                            <div class="csslider infinity" id="slider1">
                                <input type="radio" name="slides" checked="checked" id="slides_1" />
                                <input type="radio" name="slides" id="slides_2" />
                                <input type="radio" name="slides" id="slides_3" />
                                <ul class="banner_slide_bg">
                                    <li>
                                        <div class="container-fluid">
                                            <div class="w3ls_banner_txt">
                                                <h3 class="b-w3ltxt text-capitalize mt-md-4"><span>Quality</span>
                                                    Treatments.</h3>
                                                <p class="w3ls_pvt-title my-3">Onec Consequat Sapien Ut Leo Cursus
                                                    Rhoncus. Nullam Dui Mi, Vulputate Ac
                                                    Metus Semper Nullam Dui Mi. Vestibulum Ante Ipsum Primis In Faucibus
                                                    Orci Luctus Et Ultrices Posuere
                                                    Cubilia Curae.</p>
                                                <a href="" class="btn btn-banner my-sm-3 mb-3">Read More</a>
                                                <a href="" class="btn btn-banner1 my-sm-3 mb-3">Consult a doctor</a>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="container-fluid">
                                            <div class="w3ls_banner_txt">
                                                <h3 class="b-w3ltxt text-capitalize mt-md-4"><span>Professionally
                                                        Trained</span> Dental Staff.</h3>
                                                <p class="w3ls_pvt-title my-3">Onec Consequat Sapien Ut Leo Cursus
                                                    Rhoncus. Nullam Dui Mi, Vulputate Ac
                                                    Metus Semper Nullam Dui Mi. Vestibulum Ante Ipsum Primis In Faucibus
                                                    Orci Luctus Et Ultrices Posuere
                                                    Cubilia Curae.</p>
                                                <a href="about.html" class="btn btn-banner my-sm-3 mb-3">Read More</a>
                                                <a href="contact.html" class="btn btn-banner1 my-sm-3 mb-3">Consult a
                                                    dentist</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="navigation">
                                    <div>
                                        <label for="slides_1"></label>
                                        <label for="slides_2"></label>
                                        <label for="slides_3"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- //banner slider-->

                        </div>
                        <div class="col-lg-6 col-md-8">
                            <img src="images/banner.jpg" alt="" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- services -->
    <section class="services py-5" id="doctors">
        <div class="container py-lg-5">
            <h3 class="heading text-center mb-sm-5 mb-4">Doctors</h3>
            <div class="row offer-grids ">
                {{#each doctors }}
                <div class="col-lg-4  col-md-6">
                    <div class="ser1">
                        <div class="bg-layer">


                            <div class="card" style="width: 18rem;">
                                <img src="/doctors-images/{{this._id}}.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.doctorName}}</h5>
                                    <h4 class="cart-text">{{this.specialised}}</h4>
                                    <p class="card-text">{{this.speciality}}</p>
                                    {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to Cart</a>
                                    --}}
                                   <a href="/book-doctor" class="btn btn-primary">Book Now</a>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </section>


    <!-- appointment -->
    <section class="appointment text-center py-5">
        <div class="container py-sm-3">
            <h4>make your dream smile a reality</h4>
            <p class="mt-3">Call Us To Book Your Appointment Today</p>
            <a href="contact.html">Book an Appointment</a>
        </div>
    </section>
    <!-- //appointment -->

    <!-- footer -->
    <footer class="py-5">
        <div class="container py-sm-3" id="contact">
            <div class="row footer-grids">
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                    <h4 class="mb-sm-4 mb-3"><span class="fa fa-stethoscope"></span> Clinic </h4>
                    <p class="mb-3">Onec Consequat sapien ut cursus rhoncus. Nullam dui mi, vulputate ac metus semper
                        quis luctus sed.</p>
                    <h5>Trusted by <span>500+ People</span> </h5>
                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                    <h4 class="mb-sm-4 mb-3">Address Info</h4>
                    <p><span class="fa mr-2 fa-map-marker"></span>64d canal street TT 3356 <span>Newyork, NY.</span></p>
                    <p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +1(12) 123 456 789 </p>
                    <p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a>
                    </p>
                </div>
                <div class="col-lg-2 col-sm-6 mb-sm-0 mb-4">
                    <h4 class="mb-sm-4 mb-3">Quick Links</h4>
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li class="my-2"><a href="#">Support Helpline</a></li>
                        <li><a href="#">Healthy Tips</a></li>
                        <li class="mt-2"><a href="#">Privacy Ploicy</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <h4 class="mb-sm-4 mb-3">Subscribe Us</h4>
                    <p class="mb-3">Subscribe to our newsletter</p>
                    <form action="#" method="post" class="d-flex">
                        <input type="email" id="email" name="EMAIL" placeholder="Enter your email here" required="">
                        <button type="submit" class="btn">Subscribe</button>
                    </form>
                    <div class="icon-social mt-3">
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-facebook"></span>
                        </a>
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-twitter"></span>
                        </a>
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-dribbble"></span>
                        </a>
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-pinterest"></span>
                        </a>
                        <a href="#" class="button-footr">
                            <span class="fa mx-2 fa-google-plus"></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- move top -->
    <div class="move-top text-right">
        <a href="#home" class="move-top">
            <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->

</body>

</html>